body {
	margin: 0;
	font-family: Arial;
}

header>h1 {
	font-size: 25px;
	font-weight: bold;
	padding: 15px 0 0 15px;
	margin: 0;
}
header>p {
	padding: 0 0 15px 15px;
	margin: 0;
}
header {
	position: relative;
	height: 272px;
	width: 800px;
	margin: 0 auto;
	background-image: url("grfx/header.jpg");
	background-repeat: no-repeat;
}
nav {
	position: absolute;
	bottom: 0;

}
nav>ul {
	display:inline-flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
nav>ul>li {
	padding: 15px 5px;
}
nav>ul>li>a {
	text-decoration: none;
    color: #FFF;
}
nav>ul>li>a.active {
	text-decoration: none;
    color: #A9D5D4;
}

main {
	background-image: url("grfx/bg.png");
	background-repeat: repeat-x;
	background-size: 100% 272px;
}
article {
	width: 800px;
	margin: 0 auto;
	background-color: white;
}
article>p {
	padding: 5px 15px;
	margin: 0;
}
article>h2 {
	padding: 7px 15px;
	margin: 0;
}

.left {
	float: left;
	margin: 7px 15px 15px 0;
}
.right {
	float: right;
	margin: 7px 0 15px 15px;
}